<!DOCTYPE html>

<html ng-app="cstutors">
<head>
    <!-- this is what shows up in the tabs in your browser and if you bookmark the page -->
    <title>Log in</title>

    <!-- These are the links to bootstrap code -->
    <!-- we got the links from http://getbootstrap.com/docs/4.0/getting-started/introduction/ -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    
    <!-- link to angular -->
    <!-- you can download it from https://angularjs.org/ then you need to upload it to the webdev server. -->
    <script src="angular.min.js"></script>
    
    <!-- angular code we wrote -->
    <!-- cstutors.module.js is where we define the angular app called 'cstutors'. We use the name of the app in the html element at the top of the file -->
    <script src="cstutors.module.js"></script>
    <!-- data.cstutors.controller.js is where we are getting the data from. It defines a controller under the 'cstutors' app called 'dataControl', and data is under $scope.data -->
    <script src="data.cstutors.controller.js"></script>
    <!-- cstutors.filter.js enables us to display html code -->
    <script src="cstutors.filter.js"></script>
    
    <link rel="stylesheet" href="login.css"/>

</head>

<body>
    
    <!-- holds content-->
    <div class="hero">
        <!-- Content -->
        <div class="container" ng-controller="dataControl">
        
            <!--link to uiowa logo-->
            <div class= "logo">
                <img src="imgs/logo.png" class="img-fluid" alt="Responsive image">
                <div class="header"><h2>|CS: Tutors</h2></div>
            </div>
            
            
            <!-- form to enter login info -->
            <div >
                <div>
                    
                    <form name="accountForm" novalidate>
                    
                        <!-- hawkid for account -->
                        <div class="form-group" ng-class="{ 'text-danger': accountForm.hawkid.$invalid && accountForm.hawkid.$touched, 'text-success': !accountForm.hawkid.$invalid && accountForm.hawkid.$touched }">
                            <input type="text" placeholder="HawkID" class="form-control" ng-class="{ 'is-invalid': accountForm.hawkid.$invalid && accountForm.hawkid.$touched, 'is-valid': !accountForm.hawkid.$invalid && accountForm.hawkid.$touched }" name="hawkid" ng-model="account.hawkid" ng-minlength="2" id="hawkid" required/>
                        </div>
                        
                        <!-- password for account -->
                        <div class="form-group" ng-class="{ 'text-danger': accountForm.password.$invalid && accountForm.password.$touched, 'text-success': !accountForm.password.$invalid && accountForm.password.$touched }">
                            <input type="password" placeholder="Password" class="form-control" ng-class="{ 'is-invalid': accountForm.password.$invalid && accountForm.password.$touched, 'is-valid': !accountForm.password.$invalid && accountForm.password.$touched }" name="password" ng-model="account.password" ng-minlength="3" id="password" required/>
                        </div>
                    
                        <button class="btn btn-lg btn-primary btn-block" ng-click="login(account)" ng-disabled="accountForm.$invalid">Log in</button>
                    </form>
                </div>
            </div>
            
            <div class="desc"><p>Tutoring  service  for  students  enrolled  in:  CS1020,  CS1110,  and  CS1210.</p></div>
            <div><p>A  help  session  will  focus  on either clarifying material from the lecture, or working on a programming problem.</p></div>
        </div>
    </div>
</body>
</html>
